<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 th:text="'SIGN UP'"></h1>
    <form method="post" action="signup">
        이름 <input type="text" name="name" style="margin-left: 16px"> <br/>
        이메일 <input type="email" name="email"> <br/>
        주소 <input type="text" name="addr" style="margin-left: 16px"> <br/>
        <button type="submit">회원가입</button>
    </form>
</body>
</html>